#StyleForRegion .bb-region-0 {fill:red;}
#StyleForRegion .bb-region.foo {fill:green;}


#cabinetChartContainer {
    position:absolute;
    top: 0;
    z-index:2;
    margin-left:14px;
}

#adminPartyChartContainer {
    position:absolute;
    top: 1250px;
    z-index:3;
    margin-left:14px;
}

#testChart {
    position:absolute;
    top: 550px;
    z-index:2;
    margin-left:14px;
}

#appointmentsChart {
    margin-top: 0px;
}