#StyleForRegion .bb-region-0 {fill:red;}
#StyleForRegion .bb-region.foo {fill:green;}


#cabinetChartContainer {
    position:absolute;
    top: 0;
    z-index:2;
    margin-left:14px;
}

#adminPartyChartContainer {
    position:absolute;
    /*top: 1250px;*/
    z-index:3;
    margin-left:14px;
}

#appointmentsChart {
    margin-top: 0px;
}

#holder{
  overflow: auto;
}
#controls {
    position: absolute;
    top: 1600px;
    padding-left: 10px;
    padding-right: 200px;
}

/*#slidercontrol {*/
  /*position: relative;*/
  /*top: 1600px;*/
  /*padding-left: 10px;*/
  /*padding-right: 200px;*/
/*}*/

#checkboxgroup {
  position:relative;
  top:50px;
}

label.form-check-label {
  padding-left: 20px;
}
